span {
    background: #444444;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

#type {
    float: right;
}

.image {
    height: 225px;
    overflow: hidden;
    max-width: 205px;
}

.desc {
    max-height: 100px;
    overflow: hidden;
}

.details {
    float: right;
}

.pageNo {
    text-align: center;
}

.pag {
    display: flex;
    justify-content: center;
}

h2 {
    color: black;
    margin: 10px;
    text-align: center;
    margin-bottom: 10px;
}

select {
    width: 250px !important;
}

.form-check-input:checked {
    background-color: #BB6A6A;
    border-color: #BB6A6A;
}

.search-form {
    padding-bottom: 15px;
}

#bar-filter {
    margin: 0 auto;
    border-radius: 7px;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    width: 80%;
}

.row-movies {
    width: 50%;
}

.search-i {
    vertical-align: middle;
    font-size: 35px;
}

.search-and-filters{
    padding-left: 80px;
}

.titlu{
    max-height: 49px;
    overflow: hidden;
}

.search-div {
    padding-left: 90px;
}

.search-bar {
    width: unset;
}

.refresh-div {
    width: unset;
    padding-left: 0;
    padding-top: 8px;
}

.title-div {
    height: 22%;
}

.desc-div {
    height: 55%;
}

.genre-div {
    height: 23%;
}