<div class="home-content">
    <section class="landing-page">
        <div class="container">
            <div class="landing">
                <div class="text-cont">
                    <h1 class="header">
                        Discover new <span class="first-clr">Movies</span> and Enjoy Time with your <span class="first-clr">Friends</span>
                    </h1>
                    <button class="btn btn-discover mt-5" [routerLink]="['/moviesAndSeries']">Discover Movies</button>
                </div>
                <div class="img-cont">
                    <img class="img" src="../assets/home-image.jpg">
                </div>
            </div>
        </div>
    </section>

    <div>
        <h2 class="titlu">Most popular movies</h2>
        <div class="container">
            <div class="row div-movies" >
                <div class="col-lg-3 m-3" *ngFor="let movie of popularAndLikedMovies.mostPopularMovies">
                    <app-basic-card [id]="movie.id" [title]="movie.title" [image]="movie.image" (onClickCard)="onClickMovie($event)"></app-basic-card>
                </div>
            </div>
        </div>
        <h2 class="titlu mt-4">Most liked movies</h2>
        <div class="container">
            <div class="row div-movies">
                <div class="col-lg-3 m-3" *ngFor="let movie of popularAndLikedMovies.mostLikedMovies">
                    <app-basic-card [id]="movie.id" [title]="movie.title" [image]="movie.image" (onClickCard)="onClickMovie($event)"></app-basic-card>
                </div>
            </div>
        </div>
    </div>
</div>