/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
  
html {
font-size: 14px;
}
  
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
  
.customButton {
    margin-right: 10px !important;
    border-radius: 10px !important;
    text-transform: none !important;
    text-decoration: none !important;
    background-color: #bb6a6a !important;
    color: white;
}

a:hover {
    color: #fff;
}

.btn-genre {
    cursor: unset !important;
    border-radius: 15px !important;
    background-image: linear-gradient(to right,#f0f0f0,#a8a8a8);
    width: fit-content;
    border: 2px solid darkgrey;
    height: fit-content;
    margin-right: 4px;
    max-width: 90px;
    max-height: 30px;
    overflow: hidden;
    padding: 2px;
}
  
 
  
