/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
  
html {
font-size: 14px;
}
  
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
  
.customButton {
    margin-right: 10px !important;
    border-radius: 10px !important;
    text-transform: none !important;
    text-decoration: none !important;
    background-color: #bb6a6a !important;
    color: white;
}

a:hover {
    color: #fff;
}
  
 
  
