<header>
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link text-dark">Watched Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark">Watchlist</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link text-dark">Liked Movies</a>
            </li>
        </ul>
    </div>
</header>