<header>
    <nav id="topnavbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <!-- <img src="~/logo2.jpg" alt="" width="50" height="50" style="margin-left: 15px;"> -->
        <div class="container-fluid navbar">

            <a class="navbar-brand">MovieCity</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark">Movies & Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark">Actors</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown pe-3">
                <div *ngIf="!isUserLoggedIn">
                    <button mat-raised-button class="customButton" [routerLink]="['/login']" >Log in</button>
                    <button mat-raised-button class="customButton" [routerLink]="['/register']">Register</button>
                </div>
                <div class="d-flex" *ngIf="isUserLoggedIn">
                    <div class="d-flex align-items-center link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="currentUserImage" [src]="[userImage]" alt="" width="32" height="32" class="rounded-circle me-2" style="object-fit: cover;">
                        <!-- <img id="currentUserImage" src="../assets/no-profile-picture.png" *ngIf="userImage===''" alt="" width="32" height="32" class="rounded-circle me-2" style="object-fit: cover;"> -->
                        <strong style="color: black;">{{ userUsername }}</strong>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>account_circle</mat-icon>
                          <span>Profile</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>settings</mat-icon>
                          <span>Settings</span>
                        </button>
                        <button mat-menu-item (click)="logoutUser()">
                          <mat-icon>logout</mat-icon>
                          <span>Log out</span>
                        </button>
                      </mat-menu>
                </div>
            </div>
        </div>
    </nav>