<header>
    <nav id="topnavbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <!-- <img src="~/logo2.jpg" alt="" width="50" height="50" style="margin-left: 15px;"> -->
        <div class="container-fluid navbar">

            <a class="navbar-brand">MovieCity</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark">Movies & Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark">Actors</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown pe-3">
                <div>
                    <button mat-raised-button class="customButton" [routerLink]="['/login']">Log in</button>
                    <button mat-raised-button class="customButton" [routerLink]="['/register']">Register</button>
                </div>
            </div>
        </div>
    </nav>